.about-me {
    border: 1px solid gray;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    gap: 15px;
}

#links {
    font-size: 50px;
    gap: 15px;
}

#links:hover {
 cursor: pointer;
 /* box-shadow: 2px 2px 2px grey; */
 font-size: 55px;
}

/* .about-me > p:hover {
 cursor: pointer;
 font-size: 25px;
}

.about-me > i, p {
    margin-top: 5px;
   }

   .about-me > i {
    border-radius: 50px;
   }

   .about-me > i:hover {
    border-radius: 50px;
    box-shadow: 2px 2px 2px grey;
   } */