.review-container {
    border: 2px solid yellow;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-container {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

#spot-img {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}

.total-reviews {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews {
    border: 2px solid red;
    width: 50%;

    /* display: inline-flex; */

}

.reviews > span{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}


