nav {
    margin: 0;

}

.navbar {
    width: 100%;
    background-color: rgb(243, 242, 239);
    position: fixed;
    top: 0;
    /* border-bottom: 1px solid blue; */
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    padding-right: 40px;
    font-weight: bolder;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(93, 182, 4);
}